/* ARMAS DE NERO */
h2, h3 {
    font-family: $fuenteTitulos;
    padding-left: 5px;
}

.armasNero {
    padding-left: 5px;

    .redqueen {
        width: 100px;
    }

    p {
        font-family: $fuenteGeneral;
    }

    img {
        width: 280px;
    }
}

/*ARMAS DE DANTE*/
.armasDante {
    padding-left: 5px;

    .espadas {
        width: 150px;
    }

    .kingCerberus {
        width: 150px;
    }

    .pistolas {
        width: 180px;
    }

    p {
        font-family: $fuenteGeneral;
    }
    
    img {
        width: 280px;
    }
}

/*ARMAS DE V*/
.armasV {
    padding-left: 5px;

    .baston {
        width: 200px;
    }

    p {
        font-family: $fuenteGeneral;
    }
    
    img {
        width: 280px;
    }
}

/*ARMAS DE VERGIL*/
.armasVergil {
    padding-left: 5px;

    .mirageEdge {
        width: 200px;
    }

    p {
        font-family: $fuenteGeneral;
    }
    
    img {
        width: 280px;
    }
}