/* GUÍA DE NERO */
.habilidadesNero {
    padding-left: 10px;
    p {
        font-family: $fuenteGeneral;
    }

    li {
        font-family: $fuenteGeneral;
    }

    a {
        text-decoration: none;
    }
    strong {
        color: #3d8eb2;
    }

    h4 {
        font-family: $fuenteTitulos;
    }
}