/* GUÍA DE V */
.habilidadesV {
    padding-left: 10px;
    p {
        font-family: $fuenteGeneral;
    }

    li {
        font-family: $fuenteGeneral;
    }

    a {
        text-decoration: none;
    }
    strong {
        color: #6710ea;
    }

    h4 {
        font-family: $fuenteTitulos;
    }
    iframe {
        border: solid;
        border-radius: 10px;
    }
}
iframe {
    border: solid;
    border-radius: 10px;
}